<head>
  <link rel="stylesheet" href="/stylesheets/admin/admin-home.css">
  <link rel="stylesheet" href="assets/vendors/mdi/css/materialdesignicons.min.css" />
  <link rel="stylesheet" href="assets/vendors/flag-icon-css/css/flag-icon.min.css" />
  <link rel="stylesheet" href="assets/vendors/css/vendor.bundle.base.css" />
  <link rel="stylesheet" href="assets/vendors/font-awesome/css/font-awesome.min.css" />
  <link rel="stylesheet" href="assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css" />
  <link rel="stylesheet" href="assets/css/style.css" />
  <link rel="shortcut icon" href="assets/images/favicon.png" />
</head>


<div class="dropdown bg-black pb-1">
  <button class="btn text-white dropdown-toggle  bg-black" type="button" data-bs-toggle="dropdown"
    aria-expanded="false">
    ADMIN
  </button>
  <ul class="dropdown-menu bg-black profile">
    <li><a class="dropdown-item" href="/admin">Home</a></li>
    <li><a class="dropdown-item" href="/admin/products">Products</a></li>
    <li><a class="dropdown-item" href="/admin/users">Customers</a></li>
    <li><a class="dropdown-item" href="/admin/orders">Orders</a></li>
    <li><a class="dropdown-item" href="/admin/coupons">Coupons</a></li>
    <li><a class="dropdown-item" href="/admin/banners">Banners</a></li>
  </ul>
  <span class="float-end"><a href="/admin/logout" title="logout"><img src="/images/user/logout.png" class="logout"
        alt=""></a></span>
</div>

{{!-- <div class="container w-100 mt-5">
  <div class="row text-white">
    <div class="col-6 col-lg-3 mb-5">
      <div class="box box-1">CUSTOMERS
        <div class="mt-4 ms-3 fw-bolder fs-1"><span>123</span>+</div>
      </div>
    </div>
    <div class="col-6 col-lg-3 mb-5">
      <div class="box box-2">ORDERS
        <div class="mt-4 ms-3 fw-bolder fs-1"><span>36</span>+</div>
      </div>
    </div>
    <div class="col-6 col-lg-3 mb-5">
      <div class="box box-3">PRODUCTS
        <div class="mt-4 ms-3 fw-bolder fs-1"><span>2547</span>+</div>
      </div>
    </div>
    <div class="col-6 col-lg-3 mb-5">
      <div class="box box-4">CATEGORY
        <div class="mt-4 ms-3 fw-bolder fs-1"><span>14</span>+</div>
      </div>
    </div>
    <div class="col-6 col-lg-3 mb-5">
      <div class="box box-5">EARNINGS (monthly)
        <div class="mt-4 ms-3 fw-bolder fs-1"><span>$2868</span>+</div>
      </div>
    </div>
    <div class="col-6 col-lg-3 mb-5">
      <div class="box box-6">EARNINGS (annual)
        <div class="mt-4 ms-3 fw-bolder fs-1"><span>$13765</span>+</div>
      </div>
    </div>
    <div class="col-6 col-lg-3 mb-5">
      <div class="box box-7">DELIVERED ORDERS
        <div class="mt-4 ms-3 fw-bolder fs-1"><span>1475</span>+</div>
      </div>
    </div>
    <div class="col-6 col-lg-3 mb-5">
      <div class="box box-8">CANCELLED ORDERS
        <div class="mt-4 ms-3 fw-bolder fs-1"><span>386</span>+</div>
      </div>
    </div>
  </div>
</div> --}}

<div class="main-panel pt-0">
  <div class="content-wrapper pb-0">
    <div class="page-header flex-wrap">
      <h3 class="mb-0"> Hi, welcome back! <span class="pl-0 h6 pl-sm-2 text-muted d-inline-block">Today's Sales Report</span>
      </h3>
      {{!-- <div class="d-flex">
        <button type="button" class="btn btn-sm bg-white btn-icon-text border">
          <i class="mdi mdi-email btn-icon-prepend"></i> Email </button>
        <button type="button" class="btn btn-sm bg-white btn-icon-text border ml-3">
          <i class="mdi mdi-printer btn-icon-prepend"></i> Print </button>
        <button type="button" class="btn btn-sm ml-3 btn-success"> Add User </button>
      </div> --}}
    </div>
    <div class="row">
      <div class=" col-12 stretch-card grid-margin">
        <div class="row" style="margin-left: 2.7%;">
          <div class="col-xl-3 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3" style="width: 18rem;">
            <div class="card bg-warning">
              <div class="card-body px-3 py-4">
                <div class="d-flex justify-content-between align-items-start">
                  <div class="color-card">
                    <p class="mb-0 color-card-head">Sales</p>
                    <h2 class="text-white">{{objR.todaySale}}<span class="h5"></span>
                    </h2>
                  </div>
                  <i class="card-icon-indicator mdi mdi-basket bg-inverse-icon-warning"></i>
                </div>
                <h6 class="text-white">{{objR.percDiff}}% Since last day</h6>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3" style="width: 18rem;">
            <div class="card bg-danger">
              <div class="card-body px-3 py-4">
                <div class="d-flex justify-content-between align-items-start">
                  <div class="color-card">
                    <p class="mb-0 color-card-head">Margin</p>
                    <h2 class="text-white">{{objR.margin}}<span class="h5"></span>
                    </h2>
                  </div>
                  <i class="card-icon-indicator mdi mdi-cube-outline bg-inverse-icon-danger"></i>
                </div>
                <h6 class="text-white">{{objR.percDiff}}% Since last day</h6>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3 pb-lg-0 pb-xl-3" style="width: 18rem;">
            <div class="card bg-primary">
              <div class="card-body px-3 py-4">
                <div class="d-flex justify-content-between align-items-start">
                  <div class="color-card">
                    <p class="mb-0 color-card-head">Orders</p>
                    <h2 class="text-white">{{objR.todayOrder}}<span class="h5 opacity-75"> (items:{{objR.productSum}},qty:{{objR.qtySum}})</span>
                    </h2>
                  </div>
                  <i class="card-icon-indicator mdi mdi-briefcase-outline bg-inverse-icon-primary"></i>
                </div>
                <h6 class="text-white">{{objR.percDiffOrder}}% Since last day</h6>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3 pb-lg-0 pb-xl-3" style="width: 18rem;">
            <div class="card bg-success">
              <div class="card-body px-3 py-4">
                <div class="d-flex justify-content-between align-items-start">
                  <div class="color-card">
                    <p class="mb-0 color-card-head">Site Search</p>
                    <h2 class="text-white">{{objR.todaySearch}}</h2>
                  </div>
                  <i class="card-icon-indicator mdi mdi-account-circle bg-inverse-icon-success"></i>
                </div>
                <h6 class="text-white">{{objR.percDiffSearch}}% Since last day</h6>
              </div>
            </div>
          </div>

        </div>

      </div>

      <div class="row ms-auto">
        <div class="col-lg-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Sales chart (last 6 day)</h4>
              <canvas id="lineChart" style="height: 250px;"></canvas>
            </div>
          </div>
        </div>
        {{!-- <div class="col-lg-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Bar chart</h4>
              <canvas id="barChart" style="height: 250px;"></canvas>
            </div>
          </div>
        </div> --}}
        <div class="col-lg-6 grid-margin stretch-card">
          <div class="card">
            <div class="card-body">
              <h4 class="card-title">Payment Method chart</h4>
              <canvas id="pieChart" style="height: 250px;"></canvas>
            </div>
          </div>
        </div>
      </div>

    </div>
    <span id="cod" hidden>{{objR.cod}}</span>
    <span id="raz" hidden>{{objR.raz}}</span>
    <span id="pay" hidden>{{objR.pay}}</span>
    <span id="today" hidden>{{objR.today}}</span>
    <span id="saleArr" hidden>{{objR.saleArr}}</span>

    <footer class="footer">
      <div class="d-sm-flex justify-content-center justify-content-sm-between">
        <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © j&j 2023</span>
        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> <a>Admin dashboard</a> from
          jnj.com</span>
      </div>
    </footer>
  </div>


  <script src="../../assets/vendors/js/vendor.bundle.base.js"></script>
  <script src="../../assets/vendors/chart.js/Chart.min.js"></script>
  <script src="../../assets/js/off-canvas.js"></script>
  <script src="../../assets/js/hoverable-collapse.js"></script>
  <script src="../../assets/js/misc.js"></script>
  <script src="../../assets/js/chart.js"></script>