<head>
    <link rel="stylesheet" href="/stylesheets/admin/admin-home.css">
</head>




<div class="dropdown bg-black pb-1">
    <button class="btn text-white dropdown-toggle  bg-black" type="button" data-bs-toggle="dropdown"
        aria-expanded="false">
        ADMIN
    </button>
    <ul class="dropdown-menu bg-black profile">
        <li><a class="dropdown-item" href="/admin">Home</a></li>
        <li><a class="dropdown-item" href="/admin/products">Products</a></li>
        <li><a class="dropdown-item" href="/admin/users">Customers</a></li>
        <li><a class="dropdown-item" href="/admin/orders">Orders</a></li>
        <li><a class="dropdown-item" href="/admin/coupons">Coupons</a></li>
        <li><a class="dropdown-item" href="/admin/banners">Banners</a></li>
    </ul>
    <span class="float-end"><a href="/admin/logout" title="logout"><img src="/images/user/logout.png" class="logout"
                alt=""></a></span>
</div>

{{!-- add category --}}

<div class="w-100 d-flex justify-content-end">
    <button class="btn bg-dark text-light h-25 m-3" onclick="addCat()" id="addcat">ADD CATEGORY</button>
    <button class="btn bg-dark text-light h-25 m-3" onclick="editCat()" id="editcat">EDIT CATEGORY</button>
    <div class=" mt-3 me-5 border-1 border-black cat-div" id="catbox" style="width: 250px;height: 150px;">
        <form action="/admin/add-category" method="post">
            <label for="" class="form-label fw-bolder">Add Category</label>
            <span id="wcat" class="text-danger bg-white rounded-3"></span>
            <input type="text" name="name" id="category" class="form-control mb-4" required>
            <button type="submit" onclick="return catValid()" class="btn bg-success text-light h-25 me-4">ADD</button>
            <a href="/admin/products"><button type="button" class="btn bg-danger text-light h-25"
                    onclick="canCat()">CANCEL</button></a>
        </form>
    </div>
    <div class=" me-5 border-1 border-black cat-div" id="editbox" style="width: 250px;height: 150px;z-index: 3;">
        <form action="/admin/edit-category" method="post">
            <label for="" class="form-label fw-bolder">Select Category</label>
            <span id="wcat1" class="text-danger bg-white rounded-3"></span>
            <select class="form-select" name="category" aria-label="Default select example" required>
                <option selected value=""></option>
                {{#each category}}
                <option value={{this.category}}>{{this.category}}</option>
                {{/each}}
            </select>
            <label for="" class="form-label fw-bolder">Change to</label>
            <input type="text" name="editedCat" id="category1" class="form-control mb-4" required>

            <button type="submit" onclick="return catValid1()"
                class="btn bg-success text-light h-25 me-4">UPDATE</button>
            <a href="/admin/products"><button type="button" class="btn bg-danger text-light h-25"
                    onclick="canCat()">CANCEL</button></a>
        </form>
    </div>
</div>




<div class=" w-100 h-75 d-flex justify-content-center">

    <div class=" w-75 h-100">
        <div class="search  w-100">
            <form action="/admin/get-product" method="get"
                class="w-100 d-flex justify-content-center align-items-center m-4">
                <input type="search" class="w-25 m-1 p-1 rounded-3" name="product">
                <button class="btn border-3 border-dark h-25" type="submit">Search</button>
            </form>
        </div>
            <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr class="text-center">
                        <th scope="col"></th>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Description</th>
                        <th scope="col">Price</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Status</th>
                        <th scope="col">Options</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    {{#each products}}
                    {{#if this.deleted}}
                    <div class="neumorphic-alert-box position-absolute del" style="left: 35%;">
                        <h1>Confirmation</h1>
                        <p>Are you sure you want to unlist?</p>
                        <div class="neumorphic-alert-buttons">
                            <a href="/admin/delete-product/{{this._id}}"><button
                                    class="neumorphic-alert-cancel-btn ">YES</button></a>
                            <button onclick="noCancel({{@index}})" class="neumorphic-alert-delete-btn">NO</button>
                        </div>
                    </div>
                    {{else}}
                    <tr class="text-center">
                        <th scope="row"><img src='/image/{{this.images.[0]}}' class="rounded-5"
                                style="width: 40px;height: 40px;" alt=""></th>
                        <td>{{this.name}}</td>
                        <td>
                            {{this.categoryAs.[0].category}}
                        </td>
                        <td>{{this.description}}</td>
                        <td>₹{{this.price}}</td>
                        <td class="stock">{{this.stock}}</td>
                        <td>

                            <span
                                class="bg-success p-1 w-50 text-decoration-none bg-opacity-75 text-light rounded-4 instock">YES</span>

                            <span
                                class="bg-danger p-1  text-decoration-none bg-opacity-75 text-light rounded-4 outstock ">NO</span>


                        </td>
                        <td><a href="/admin/edit-product/{{this._id}}"><img src="/images/admin/edit-icon.svg"
                                    style="width: 25px;" class="me-2" alt=""></a>
                            <span onclick="deleteConfirm({{@index}})" style="cursor: pointer;"><img
                                    src="/images/admin/delete-icon.svg" style="width: 20px;" alt=""></span>
                        </td>
                    </tr>
                    {{!-- delete --}}
                    <div class="neumorphic-alert-box position-absolute del" style="left: 35%;">
                        <h1>Confirmation</h1>
                        <p>Are you sure you want to unlist?</p>
                        <div class="neumorphic-alert-buttons">
                            <a href="/admin/delete-product/{{this._id}}"><button
                                    class="neumorphic-alert-cancel-btn ">YES</button></a>
                            <button onclick="noCancel({{@index}})" class="neumorphic-alert-delete-btn">NO</button>
                        </div>
                    </div>
                    {{/if}}
                    {{/each}}
                </tbody>
            </table>
    </div>
        <nav aria-label="Page navigation example" class="d-none d-lg-block">
            <ul class="pagination float-end">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
        <a href="/admin/add-product" style="text-decoration: none;" class="fs-3 "><button
                class="btn bg-black w-100 text-white"><span class="fw-bolder">ADD PRODUCT</span></button></a>
    </div>
</div>

<style>
    table {
        width: 7cm;
        height: 7cm;
        border: 1px solid;
        page-break-after: always;
    }

    .neumorphic-alert-box {
        background-color: #f2f2f2;
        border-radius: 10px;
        box-shadow:
            -10px -10px 20px rgba(255, 255, 255, 1),
            10px 10px 20px rgba(0, 0, 0, 0.2);
        padding: 20px;
        text-align: center;
        display: none;
    }

    .neumorphic-alert-buttons {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .neumorphic-alert-cancel-btn {
        background-color: #f2f2f2;
        border: none;
        border-radius: 10px;
        box-shadow:
            -5px -5px 10px rgba(255, 255, 255, 1),
            5px 5px 10px rgba(0, 0, 0, 0.2);
        color: #666;
        cursor: pointer;
        font-size: 16px;
        padding: 10px 20px;
        margin-right: 10px;
    }

    .neumorphic-alert-delete-btn {
        background-color: #f44336;
        border: none;
        border-radius: 10px;
        box-shadow:
            -5px -5px 10px rgba(255, 255, 255, 1),
            5px 5px 10px rgba(0, 0, 0, 0.2);
        color: #fff;
        cursor: pointer;
        font-size: 16px;
        padding: 10px 20px;
    }

    .open-pop {
        display: block;
    }
</style>

<script>
    isStock();
    function isStock() {
        let stock1 = document.getElementsByClassName('stock');
        let instock = document.getElementsByClassName('instock');
        let outstock = document.getElementsByClassName('outstock');
        for (let i = 0; i < stock1.length; i++) {
            if (parseInt(stock1[i].innerHTML) !== 0) {
                outstock[i].style.display = 'none'
            } else {
                instock[i].style.display = 'none'
            }
        }
    }
    let cat = document.getElementById('addcat')
    let box = document.getElementById('catbox')
    let editB = document.getElementById('editbox')
    let edit = document.getElementById('editcat')

    function catValid() {
        let category = document.getElementById('category').value.trim()
        let arr = category.toString()
        arr = arr.split(' ')
        console.log(arr)
        if (arr.length !== 1 || category === '') {
            document.getElementById('wcat').innerHTML = 'use single word'
            return false;
        }
        document.getElementById('wcat').innerHTML = ''
        return true;

    }
    function catValid1() {
        let category = document.getElementById('category1').value.trim()
        let arr = category.toString()
        arr = arr.split(' ')
        console.log(arr)
        if (arr.length !== 1 || category === '') {
            document.getElementById('wcat1').innerHTML = 'use single word'
            return false;
        }
        document.getElementById('wcat1').innerHTML = ''
        return true;

    }


    function addCat() {
        cat.style.display = 'none'
        box.classList.add('cat-div1')
        edit.style.display = 'none'

    }
    function canCat() {
        box.classList.remove('cat-div1')
        cat.style.display = 'block'
        editB.classList.remove('cat-div1')
        edit.style.display = 'block'
    }

    function editCat() {
        edit.style.display = 'none'
        editB.classList.add('cat-div1')
        cat.style.display = 'none'

    }
    function deleteConfirm(i) {
        i = Number(i)
        let pop = document.getElementsByClassName('del');
        pop[i].classList.add('open-pop');
    }
    function noCancel(i) {
        i = Number(i)
        let pop = document.getElementsByClassName('del');
        pop[i].classList.remove('open-pop');
    }
</script>