<!-- banner part start-->
<section class="banner_part">
    <div class="container">
        <div class="row d-flex justify-content-between " style="padding-top: 20vh;">
            <h2>Addresses</h2>
            <h4>To set default address click EDIT</h4>
            <div class="col-12" style="width: 40vw;">

                {{#each add}}


                <div class="col-12 " id="address" style="background-color: white;width: 40vw;height: 15vh;padding: 1rem;
                padding-top: 0.1rem;border: 1px solid #000;">
                    {{this.name}}, {{this.street}}, {{this.city}}, {{this.state}}, {{this.country}}. 
                    pincode: {{this.pincode}} <br>
                    mobile: {{this.mobile}}
                </div>
                <a href="/edit-address?ind={{@index}}" class="btn btn-success mb-3">EDIT</a>

                {{/each}}


            </div>


            <div class="banner_img col-4" style="width: 30vw;margin-top: 10vh;margin-right: 20vw;">
                <a href="/add-address">
                    <div class="form-group"
                        style="background-color: rgba(0, 0, 0, 0.208);width: 30vw;height: 10vh;padding: 0.5rem;display: flex;justify-content: center;align-items: center;border: 2px solid #ffffff;">
                        <h1>+</h1>

                        <p class="text-white">ADD ADDRESSES</p>

                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<!-- banner part start-->

<style>
    label {
        font-size: 1.5vw;
        font-weight: 500;
    }
 
   

</style>