<!--================Checkout Area =================-->
<section class="checkout_area padding_top" style="margin-top: 3rem;">
    <div class="container">
        <div style="margin-left: 1.9rem;">
            {{#each coupon}}
            <a onclick="couponInsert('{{this.code}}')"><input type="text" disabled
                    value="{{this.code}}-above ₹{{this.minPur}}" class="text-dark mb-2 mr-2"
                    style="cursor: pointer;border: solid 1px #40b310;background-color: white;"></a>
            {{/each}}
            <a href="/all-products"><input type="text" disabled value="SHOP MORE" class="text-dark mb-2 mr-2"
                    style="cursor: pointer;border: solid 1px #40b310;background-color: white;width: auto;"></a>

        </div>
        <div class="cupon_area">
            <span style="background-color: aliceblue;color: #00a13e;margin-left: 1.9rem;" id="cmsg"></span>
            <span style="background-color: aliceblue;color: #b90000;" id="cmsg1"></span>
            <input type="text" class="w-25" name="code" id="code" required placeholder="Enter coupon code" />
            <button class="tp_btn" type="button" onclick="checkCoupon()">Apply Coupon</button>

        </div>

        <div class="billing_details">
            <div class="row">
                <div class="col-lg-8">
                    <h3>Shipping Details</h3>
                    <span id="addNo" hidden></span>
                    {{#if true}}
                    {{#each add}}
                    <div class="form-check mb-2">
                        <input class="form-check-input radio"
                            onclick="changeAdd('{{@index}}', '{{this.name}}', '{{this.mobile}}', '{{this.street}}', '{{this.city}}', '{{this.pincode}}')"
                            style="cursor: pointer;" type="radio" name="flexRadioDefault">
                        <label class="form-check-label" for="flexRadioDefault1">
                            {{this.name}}, {{this.street}}, {{this.city}}, {{this.pincode}}
                        </label>
                    </div>
                    {{/each}}

                    <form class="row contact_form" action="#" method="post" novalidate="novalidate">
                        <div class="col-md-12 form-group p_star">
                            <input type="text" class="form-control w-75" id="name" name="name" disabled
                                value="{{add.[0].name}}" />
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <input type="tel" class="form-control w-75" id="mobile" name="mobile" disabled
                                value="{{add.[0].mobile}}" />
                        </div>

                        {{!-- <div class="col-md-12 form-group p_star">
                            <input type="email" class="form-control w-75" id="email" name="email" disabled
                                value="{{docs.[0].email}}" />
                        </div> --}}
                        <div class="col-md-12 form-group p_star">
                            <input type="text" class="form-control w-75" id="street" name="street" disabled
                                value="{{add.[0].street}}" />
                        </div>
                        <div class="col-md-12 form-group p_star">
                            <input type="text" class="form-control w-75" id="city" name="city" disabled
                                value="{{add.[0].city}}" />
                        </div>
                        {{!-- <div class="col-md-12 form-group p_star">
                            <input type="text" class="form-control w-75" id="state" name="state" disabled
                                value="{{add.[0].state}}" />
                        </div>

                        <div class="col-md-12 form-group p_star">
                            <input type="text" class="form-control w-75" id="country" name="country" disabled
                                value="{{add.[0].country}}" />
                        </div> --}}
                        <div class="col-md-12 form-group p_star">
                            <input type="text" class="form-control w-75" id="pincode" name="pincode" disabled
                                value="{{add.[0].pincode}}" />
                        </div>


                        <div class="col-md-12 form-group">
                            <div class="creat_account">
                                <a href="/add-address?check=1" class="text-dark"
                                    style="cursor: pointer;background-color: rgb(255, 255, 255);border-radius: 10px;padding: 5px;">Ship
                                    to a new address
                                    <span
                                        style="font-size:x-large;font-family: 'Courier New', Courier, monospace;">?</span></a>
                                {{!-- <a href="/addresses"
                                    style="cursor: pointer;background-color: rgb(0, 0, 0);border-radius: 10px;padding: 5px;">Change
                                    address
                                    <span
                                        style="font-size:x-large;font-family: 'Courier New', Courier, monospace;">?</span></a>
                                --}}
                            </div>

                        </div>
                    </form>
                    {{else}}
                    <a href="/addresses"
                        style="cursor: pointer;background-color: rgb(0, 0, 0);border-radius: 10px;padding: 5px;color: aliceblue;margin-left: 2rem;">Add
                        address
                        <span style="font-size:x-large;font-family: 'Courier New', Courier, monospace;">!</span></a>
                    {{/if}}
                </div>
                <div class="col-lg-4">
                    <div class="order_box">
                        <h2>Your Order</h2>
                        <ul class="list">
                            <li>
                                <a>Product
                                    <span>Total</span>
                                </a>
                            </li>

                            {{#each docs}}

                            <li>
                                <a style="">{{this.cartItems.[0].name}}
                                    <span class="middle">x<span class="itemQty">{{this.cart.qty}}</span></span>
                                    <span class="last">₹<span
                                            class="itemTotal">{{this.cartItems.[0].price}}</span></span>
                                </a>
                            </li>
                            {{/each}}
                        </ul>
                        <ul class="list list_2">
                            <li>
                                <a>Subtotal
                                    <span>₹<span id="subTotal"></span></span>
                                </a>
                            </li>
                            <li>
                                <a>Discount
                                    <span>-₹<span id="discount">{{docs.[0].discount}}</span></span>
                                </a>
                            </li>
                            <li>
                                <a>Total
                                    <span>₹<span id="total"></span></span>
                                </a>
                            </li>
                        </ul>
                        <div class="payment_item">
                            <div class="">

                                <label for="">Select any payment method</label>

                            </div>

                        </div>
                        <div class="payment_item">
                            <div class="radion_btn">
                                <input type="radio" id="f-option5" onclick="cash()" name="selector" />
                                <label for="f-option5">Cash on delivery</label>
                                <div class="check"></div>
                            </div>

                        </div>
                        <div class="payment_item active">
                            <div class="radion_btn">
                                <input type="radio" id="f-option6" onclick="pay()" name="selector" />
                                <label for="f-option6">Razorpay</label>
                                <img src="img/product/single-product/card.jpg" alt="" />
                                <div class="check"></div>
                            </div>

                        </div>
                        <div class="payment_item">
                            <div class="radion_btn">
                                <input type="radio" id="f-option7" onclick="paypal()" name="selector" />
                                <label for="f-option7">Paypal</label>
                                <img src="img/product/single-product/card.jpg" alt="" />
                                <div class="check"></div>
                            </div>

                        </div>
                        {{!-- <div class="creat_account">
                            <input type="checkbox" id="f-option4" name="selector" />
                            <label for="f-option4">I’ve read and accept the </label>
                            <a>terms & conditions*</a>
                        </div> --}}
                        <a class="btn_3" href="" style="border: 1px solid #000;" id="pro1" onclick="cashOrder()"><span
                                id="proceed1">Confirm
                                Order</span></a>
                        <a class="btn_3 qwerty" style="border: 1px solid #000;color: white;" id="pro2"
                            onclick="payOrder()"><span id="proceed2">Proceed
                                to Razorpay</span></a>
                        <a class="btn_3 qwerty" style="border: 1px solid #000;color: white;" onclick="paypalOrder()"
                            id="pro3"><span id="proceed3">Proceed
                                to Paypal</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Checkout Area =================-->
<style>
    .qwerty:hover {
        color: #000 !important;
        cursor: pointer;
    }
</style>
<script src="/javascripts/checkout.js"></script>