{{!-- {{#if pop}}
<div class="popup" id="popupd">
    <h2>Login Successfull!</h2>
    <p></p>
    <button type="button" onclick="closePop()" class="btn">OK</button>
</div>
{{/if}}

{{#if boo}}
<div class="position-absolute popup" id="popupd">
    <h2>Logout Successfull!</h2>
    <p></p>
    <button type="button" onclick="closePop()" class="btn">OK</button>
</div>
{{/if}} --}}

{{!-- preload --}}


<!-- banner part start-->
<section class="banner_part">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12">
                <div class="banner_slider owl-carousel">


                    <div class="single_banner_slider">
                        <div class="row">
                            <div class="col-lg-5 col-md-8">
                                <div class="banner_text">
                                    <div class="banner_text_iner">
                                        <h1>Touch the Quality</h1>
                                        <p>Find your favorites and discover something new with our latest arrivals. Get
                                            amazing deals and discounts on top-rated products - shop now!</p>
                                        <a href="#" class="btn_2 text-dark">buy now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="banner_img d-none d-lg-block">
                                {{!-- <img src="img/banner_img1.png" alt=""> --}}
                            </div>
                        </div>
                    </div>


                </div>
                <div class="slider-counter"></div>
            </div>
        </div>
    </div>
</section>
<!-- banner part start-->


<!-- product_list start-->
<section class="product_list section_padding">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="section_tittle text-center">
                    {{!-- <h2>awesome</h2> --}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="product_list_slider owl-carousel">

                    <div class="single_product_list_slider">
                        <div class="row align-items-center justify-content-between">
                            {{#each products}}
                            {{#if this.deleted}}
                            {{else}}
                            <div class="col-lg-3 col-sm-6">
                                <div class="single_product_item">

                                    <div class="single_product_text">
                                        <a href="/single-product?id={{this._id}}"><img
                                                src="/image/{{this.images.[0]}}"
                                                style="max-width: 250px;border-radius: 20px;height: 230px;" alt=""></a>

                                        <h4 class="px-3">{{this.name}}</h4>
                                        <h3 style="float: left;" class="px-3">₹{{this.price}}</h3>
                                        {{!-- <a href="/add-to-wishlist/{{this._id}}" class="ab"><i
                                                class="ti-heart"></i></a> --}}
                                        <a class="ab" style="margin-left: 12rem;" onclick="addtowish(this)">
                                            <button onclick="addToWish('{{this._id}}')" class=""
                                                style="background-color: #00000000;border: none;color: #fff"><i
                                                    class="ti-heart hrtno" style="color: rgb(0, 0, 0);"></i> <i
                                                    class="ti-heart hrt dis"
                                                    style="color: rgb(255, 0, 0);"></i></button>
                                        </a>
                                        {{!-- <a href="/add-to-cart/{{this._id}}" class="add_cart w-75 ab">+ add to
                                            cart</a> --}}
                                        <a class="add_cart w-75 ab addtocart" onclick="addedto(this)"><button
                                                onclick="addToCart('{{this._id}}')" class="addto px-3"
                                                style="background-color: #00000000;border: none;color: #fff;">+ add to
                                                cart</button>
                                            <span class="added px-3"></span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {{/if}}
                            {{/each}}
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</section>


<!-- feature_part start-->
<section class="feature_part padding_top">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section_tittle text-center">
                    <h2
                        style="font-weight: 600; font-size: 3rem;letter-spacing: 10px; color: #00000059; -webkit-text-stroke: 0.07rem rgb(241, 242, 242); text-stroke: 1px black;">
                        Featured Category</h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center justify-content-between">
            <div class="col-lg-7 col-sm-6 ">
                <div class="single_feature_post_text div1in4">
                    {{!-- <p>Premium Quality</p>
                    <h3>Latest Collections</h3> --}}
                    <a href="#" class="feature_btn">EXPLORE NOW <i class="fas fa-play"></i></a>
                    {{!-- <img src="img/feature/feature_1.png" alt=""> --}}
                </div>
            </div>
            <div class="col-lg-5 col-sm-6">
                <div class="single_feature_post_text  div2in4">
                    <p>Premium Quality</p>
                    <h3>Latest Collections</h3>
                    <a href="#" class="feature_btn">EXPLORE NOW <i class="fas fa-play"></i></a>
                    {{!-- <img src="img/feature/feature_2.png" alt=""> --}}
                </div>
            </div>
            <div class="col-lg-5 col-sm-6">
                <div class="single_feature_post_text div3in4">
                    <p>Premium Quality</p>
                    <h3>Latest Collections</h3>
                    <a href="#" class="feature_btn">EXPLORE NOW <i class="fas fa-play"></i></a>
                    {{!-- <img src="img/feature/feature_3.png" alt=""> --}}
                </div>
            </div>
            <div class="col-lg-7 col-sm-6">
                <div class="single_feature_post_text div4in4">
                    {{!-- <p>Premium Quality</p>
                    <h3>Latest Collections</h3> --}}
                    <a href="#" class="feature_btn">EXPLORE NOW <i class="fas fa-play"></i></a>
                    {{!-- <img src="img/feature/feature_4.png" alt=""> --}}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- upcoming_event part start-->










<style>
    .popup {
        width: 400px;
        height: 200px;
        background-color: #f0f0f0;
        border-radius: 20px;
        box-shadow: 10px 10px 30px #bebebe81, -10px -10px 30px #ffffff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;

        padding: 20px;
        color: #333;
        text-align: center;
        display: none;
    }

    .popup h2 {
        font-size: 32px;

        text-shadow: 2px 2px 2px #bebebe, -2px -2px 2px #ffffff;
    }


    .open-pop {
        display: block;
    }

    .prelo {
        background: #000000 url('/images/pre.gif') no-repeat center;
        background-size: 30%;
        height: 100vh;
        width: 100%;
        position: fixed;
        z-index: 100;
    }

    .pre {
        background: none;
    }

    .dis {
        display: none;
    }
</style>

<script>

    openPop();
    function openPop() {
        let pop = document.getElementById('popupd');
        pop.classList.add('open-pop');
    }
    function closePop() {
        let pop = document.getElementById('popupd');
        pop.classList.remove('open-pop');
    }

    function addedto(element) {
        element.querySelector('.addto').style.display = 'none';
        element.querySelector('.added').textContent = 'added';
        // Call the addToCart function with the appropriate argument

    }
    function addtowish(thi) {
        thi.querySelector('.hrtno').style.display = 'none'
        thi.querySelector('.hrt').classList.remove('dis')
    }


</script>