<!--================Single Product Area =================-->

<div class="product_image_area section_padding" style="margin-top: 8rem;">
  <div class="container">
    <div class="row s_product_inner justify-content-between">
      <div class="col-lg-7 col-xl-7">
        <div class="product_slider_img">
          <div id="vertical">
            {{#each product.images}}
            <div data-thumb="/image/{{this}}">
              <img  src="/image/{{this}}" />
            </div>
            {{/each}}

          </div>
        </div>
      </div>

      <div class="col-lg-5 col-xl-4">
        <div class="s_product_text">
          <h3>{{product.name}}</h3>
          <h2>{{product.price}}</h2>
          <ul class="list">
            <li>
              <a class="active" href="#">
                <span>Category</span> : {{category.category}}</a>
            </li>
            <li>
              <a href="#"> <span>Availibility</span> :

                {{!-- <span id="stk">{{product.stock}}</span> --}}
                {{#if stks}}
                <span id="in" style="color: rgb(255, 251, 0);">few left</span>
                {{else if stock}}
                <span id="in" style="color: greenyellow;">In Stock</span>
                {{else}}
                <span id="out" style="color: red;">Out of stock</span>
                {{/if}}
              </a>
            </li>
          </ul>
          <p>
            {{product.description}}
          </p>
          <div class="card_area d-flex justify-content-between align-items-center">

            {{!-- <a href="/add-to-cart/{{product._id}}" class="btn_3">add to cart</a> --}}
            <a class="add_cart w-100 ab addtocart" onclick="rem(this)" style="font-size: x-large;"><button onclick="addToCart('{{product._id}}')" class=""
                style="background-color: #00000000;border: none;color: #007411">+to
                cart</button>
            </a>
            <span id="ad"></span>
            {{!-- <a href="/add-to-wishlist/{{product._id}}" class="like_us"> <i class="ti-heart"></i> </a> --}}
            <a class="ab" id="wish" style="margin-left: 12rem;font-size: x-large;" onclick="rem(this)">
              <button onclick="addToWish('{{product._id}}')" class=""
                style="background-color: #00000000;border: none;color: #ff0000"><i class="ti-heart"></i></button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--================End Single Product Area =================-->
<style>
  .dis {
    display: none;
  }
  .big_img{
    width: 350px;
    height: 400px;
    float: left;
    margin-top: 20px;
  }
</style>

<script>
  let stk = document.getElementById('stk')
  let ins = document.getElementById('in')
  let outs = document.getElementById('out')
  let stkn = Number(stk.innerHTML)
  stk.classList.add('dis')
  if (stkn == 0) {
    ins.classList.add('dis')
  } else {
    outs.classList.add('dis')
  }
  function rem(t){
    document.getElementById('wish').style.display = 'none'
    t.style.display = 'none';
    document.getElementById('ad').innerHTML='DONE'
  }


</script>
