<!--================Cart Area =================-->
<section class="cart_area padding_top " style="margin-top: 3rem;">
  <div class="container">
    <div class="cart_inner">
      <h4 style="font-weight: 700;margin-left: 0.7rem;">WISHLIST</h4>

      <div class="table-responsive">
        {{#if wishArr}}
        <table class="table">
          <thead>
            <tr class="text-center">
              <th scope="col">Product</th>
              <th scope="col">Price</th>
              <th scope="col">to Cart</th>
              <th scope="col">Remove</th>

            </tr>
          </thead>

          <tbody>

            {{#each wishArr}}
            {{!-- {{#if this.wishItems.[0].deleted}}
            {{else}} --}}
            <tr class="text-center">
              <td>
                <div class="media">
                  <div class="d-flex">
                    <a href="/single-product?id={{this.wishItems.[0]._id}}"><img
                        src="/image/{{this.wishItems.[0].images.[0]}}" style="width: 80px;height: auto;" alt="" /></a>
                  </div>
                  <div class="media-body">
                    <p>{{this.wishItems.[0].description}}</p>
                  </div>
                </div>
              </td>
              <td>
                <h5>₹{{this.wishItems.[0].price}}</h5>
              </td>
              <td>
                {{!-- <a href="/add-to-cart/{{this.wishItems.[0]._id}}"
                  style="color: black;font-weight: 700;font-size:x-large;"><i class="ti-plus"></i></a> --}}


                {{#if this.wishItems.[0].stock}}
                <button onclick="addToCartW('{{this.wishItems.[0]._id}}')" class=""
                  style="background-color: #00000000;border: none;color: black;font-weight: 700;font-size:x-large;"><i
                    class="fa fa-plus-circle" aria-hidden="true"></i>
                </button>
                {{else}}
                <a class="ab"><span class="text-danger m-2">Out of Stock</span></a>
                {{/if}}

              </td>
              <td class="">
                <a href="/wishlist-remove/{{this.wishItems.[0]._id}}"
                  style="color: black;font-weight: 700;font-size:x-large;"><i class="fa fa-trash"
                    aria-hidden="true"></i></a>
              </td>
            </tr>
            {{!-- {{/if}} --}}
            {{/each}}

          </tbody>

        </table>
        {{else}}

        <div class="container" style="height: 15rem;">
          <div class="row justify-content-center">
            <div class="col-md-6">
              <div class="">
                <div class="card-body text-center">
                  <h3 class="card-title">No Items Found</h3>
                  <p class="card-text">Sorry, there are currently no items available.</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        {{/if}}
        <div class="checkout_btn_inner float-right">
          <a class="btn_1" href="/">Continue Shopping</a>
          <a class="btn_1 checkout_btn_1" href="/cart">Cart</a>
        </div>
      </div>
    </div>
</section>
<!--================End Cart Area =================-->